{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html; charset=utf-8"/>
		<title>人信科技车管家销售管理系统</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="{% static 'pay/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'pay/css/font-awesome.min.css' %}" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- ace styles -->

		<link rel="stylesheet" href="{% static 'pay/css/ace.min.css' %}" />
		<link rel="stylesheet" href="{% static 'pay/css/ace-rtl.min.css' %}" />
		<link rel="stylesheet" href="{% static 'pay/css/ace-skins.min.css' %}" />
		<link rel="stylesheet" href="{% static 'pay/css/datepicker.css' %}" />
		<link rel="stylesheet" href="{% static 'pay/css/bootstrap-timepicker.css' %}" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="{% static 'pay/js/ace-extra.min.js' %}"></script>
		<script src="{% static 'pay/js/jquery-2.0.3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'pay/js/jquery.cityselect.js' %}"></script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.linkedinput {margin-right:0.3em;}
			.needed {color:red;}
		</style>
		<script type="text/javascript">
		$(function() {
			$("form").bind('submit', function() {
				var i=0;
				$("input").each(function() {
				var val=$(this).val();
				if (val=="") {
					i=1;
				}
				});
				if (i==1) {
				alert("请将信息填写完整");
				return false;
				}
			})
		})
		/*
		function checkNull() {
			$("input[type=text]").each(function() {
				if($.input[type=text].val() != "" && $.input[type=text].val() != null) {
				//if ($(this).val() !== "") {
					return true;
				} else {
					alert("请检查是否有空选项!");
					return false;
				}
			})
		} */
		</script>
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							人信科技车管家销售管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<span class="user-info">
									<small>欢迎登录</small>
									{{ username }}
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

								<li>
									<a href="/change_pw/">
										<i class="icon-block"></i>
										修改密码
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="/logout/">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">

			<div class="main-container-inner">

				<div class="sidebar" id="sidebar">
					<ul class="nav nav-list">

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-envelope"></i>
								<span class="menu-text"> 订单管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/order/">
										<i class="icon-double-angle-right"></i>
										订单信息管理
									</a>
								</li>

								{% if role == 'admin' %}
								<li>
									<a href="/order_verify/">
										<i class="icon-double-angle-right"></i>
										订单审核
									</a>
								</li>
								{% endif %}

							</ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> 入库管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/ware_confirm/">
										<i class="icon-double-angle-right"></i>
										订单入库确认管理
									</a>
								</li>
							</ul>
						</li>

						<li class="active open">
							<a href="#" class="dropdown-toggle">
								<i class="icon-credit-card"></i>
								<span class="menu-text"> 销售管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li class="active">
									<a href="/sale/">
										<i class="icon-double-angle-right"></i>
										销售信息管理
									</a>
								</li>

								<li>
									<a href="/order_check/">
										<i class="icon-double-angle-right"></i>
										销售单审核
									</a>
								</li>
								<li>
									<a href="/sale_assis/">
										<i class="icon-double-angle-right"></i>
										销售顾问管理
									</a>
								</li>
								<li>
									<a href="/care_number/">
										<i class="icon-double-angle-right"></i>
										保单号管理
									</a>
								</li>
								<li>
									<a href="/product_manage/">
										<i class="icon-double-angle-right"></i>
										设备管理
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-group"></i>
								<span class="menu-text"> 用户管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/users/">
										<i class="icon-double-angle-right"></i>
										添加用户
									</a>
								</li>
								{% if role == 'admin' %}
								<li>
									<a href="/user_manage/">
										<i class="icon-double-angle-right"></i>
										用户管理
									</a>
								</li>
								{% endif %}
							</ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-lock"></i>
								<span class="menu-text"> 修改密码 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/change_pw/">
										<i class="icon-double-angle-right"></i>
										修改密码
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/logout/">
								<i class="icon-off"></i>
								<span class="menu-text"> 退出系统 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->

				
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li>
								<a href="#">销售信息管理</a>
							</li>
							<li class="active">新增</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content">

					<div class="page-header">
							<h4>
								#
								<small>
									客户信息
								</small>
							</h4>
						</div>

					<div class="col-xs-12">

							<form class="form-horizontal" role="form" method="post" action="/upload/" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row">

								</div>

								<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">客户类型</label>
										<div class="col-sm-8">
											<select name="clienttype" class="col-xs-10">
												<option value="personal">个人客户</option>
												<option value="company">公司客户</option>
											</select>		
										</div>
								</div>

								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">客户名称</label>
										
										<div class="col-sm-8">
											<input type="text" name="clientname" id="clientname" class="col-xs-10">
										</div>	
								</div>
								</div>

								<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">证件类型</label>
										<div class="col-sm-8">
											<select name="idtype" class="col-xs-10">
												<option value="identity">身份证</option>
												<option value="passport">护照</option>
												<option value="driven">驾照</option>
											</select>		
										</div>
								</div>

								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">证件号码</label>
										
										<div class="col-sm-8">
											<input type="text" name="idnumber" id="idnumber"  class="col-xs-10">
										</div>	
								</div>
								</div>

								<div class="row">

									<div class="form-group col-sm-10">

										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">联系地址</label>
										<div class="col-sm-10" id="city">
      										<select id="prov" name="prov" class="prov col-xs-2"></select>  
    										<select id="cities" name="city" class="city col-xs-2" disabled="disabled"></select> 
											<input style="margin-top:0.1em;" type="text" name="address" id="address" class="col-xs-6">
										</div>
								</div>

								</div>

								<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">移动电话</label>
										<div class="col-sm-8">
											<input type="text" name="mobilephone" id="mobilephone" class="col-xs-10">
										</div>
								</div>

								
								</div>
								
						<div class="page-header" style="margin-top:1em;">
							<h4>
								#
								<small>
									产品及车辆信息
								</small>
							</h4>
						</div>

						<div class="row">
						<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">购车类型</label>
										<div class="col-sm-8">
											<select name="buytype" id="buytype" class="col-xs-10">
												<option value="billpay">贷款</option>
												<option value="fullpay">全款</option>
											</select>		
										</div>
								</div>

								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">贷款金融机构</label>
										<div class="col-sm-8">
											<input type="text" name="fcompany" id="fcompany" class="col-xs-10" placeholder="根据贷款车辆使用金融公司填写">
										</div>	
									
								</div>
								</div>

						<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">产品名称</label>
										<div class="col-sm-8">

											<select name="productname" class="col-xs-10" id="productname">
											<option value="1">车管家-一年</option>
											<option value="2">车管家-二年</option>
											<option value="3">车管家-三年</option>
											<option value="4">车管家-四年</option>
											<option value="5">车管家-五年</option>
											</select>	
										</div>
								</div>
								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">初始购车日期</label>
										
										<div class="col-sm-8">
											<div class="input-group">
												<input class="form-control date-picker" id="id-date-picker-1" type="text" name="startdate" data-date-format="yyyy-mm-dd">
												<span class="input-group-addon">
													<i class="icon-calendar bigger-110"></i>
												</span>
											</div>
										</div>
								</div>

								</div>

						<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">主设备名称</label>
										<div class="col-sm-8">
											<select name="equipname" class="col-xs-10" id="equipname">
											{% for first in firstproducts %}
												<option value="{{first.first_product}}">{{first.first_product}}</option>
											{% endfor %}
											</select>
										</div>
								</div>
								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">辅设备名称</label>
										<div class="col-sm-8">
											<select name="secondequip" class="col-xs-10" id="secondequip">
												{% for second in secondproducts %}
												<option value="{{second.second_product}}">{{second.second_product}}</option>
											{% endfor %}
											</select>
										</div>
								</div>

								
								</div>

						<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">品牌</label>
										<div class="col-sm-8">
											<input type="text" name="carname" id="carname" class="col-xs-10" placeholder="填写车辆品牌">		
										</div>
								</div>
								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">型号</label>
										<div class="col-sm-8">
											<input type="text" name="cartype" id="cartype" class="col-xs-10" placeholder="填写车辆品牌型号">		
										</div>
								</div>
								</div>

						<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">购车发票价格</label>
										<div class="col-sm-8">
											<input type="text" name="carprice" id="carprice" class="col-xs-10" placeholder="填写购车发票价格 (单位元)">
										</div>
								</div>

								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">车管家价格</label>
										
										<div class="col-sm-8">
											<input type="text" name="price" id="price" class="col-xs-10" placeholder="单位: 元">
										</div>	
								</div>
								</div>

						<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">车架号码</label>
										<div class="col-sm-8">
											<input type="text" name="vin" id="vin" class="col-xs-10">
										</div>
								</div>

								<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">发动机号码</label>
										
										<div class="col-sm-8">
											<input type="text" name="carnumber" id="carnumber" class="col-xs-10">
										
										</div>	
								</div>
								</div>

							<div class="row">

									<div class="form-group col-sm-5">

										<label class="col-sm-4 control-label no-padding-right" for="form-field-1">销售顾问</label>
										<div class="col-sm-8">
											<select name="saleman" class="col-xs-10" id="saleman">
											{% for adviser in adviserlist %}
												<option value="{{adviser.username}}">{{adviser.username}}</option>
											{% endfor %}
											</select>		
										</div>
								</div>

								</div>
						<div class="row">
						<div class="form-group col-sm-10">

										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">保险所需文件: 车辆合格证, 购车发票，身份证（正反面)</label>
										<div class="col-sm-8">
										<div class="widget-main" style="padding:0 0;">
											<input type="file" id="id-input-file-3" name="files" multiple/>
										</div>
							</div>
								</div>
						</div>


						<div class="row">
								<div class="form-group">	
										<label class="col-sm-3 control-label" for="form-field-1"></label>
										<label class="col-sm-2 control-label" for="form-field-1">
											<button type="submit" id="smtsale" class="btn btn-info btn-block">提交保单</button>
										</label>
										
									</div>
						</div>
							</form>

						</div><!-- /.row -->


					<div class="hr hr-18 dotted hr-double"></div>
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->


		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{% static 'pay/js/jquery.mobile.custom.min.js' %}'>"+"<"+"script>");
		</script>
		<script src="{% static 'pay/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'pay/js/typeahead-bs2.min.js' %}"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="{% static 'pay/js/date-time/bootstrap-datepicker.min.js' %}"></script>
		<script src="{% static 'pay/js/date-time/bootstrap-timepicker.min.js' %}"></script>



		<script src="{% static 'pay/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
		<script src="{% static 'pay/js/jquery.ui.touch-punch.min.js' %}"></script>
		<script src="{% static 'pay/js/jquery.slimscroll.min.js' %}"></script>
		<script src="{% static 'pay/js/flot/jquery.flot.min.js' %}"></script>
		<script src="{% static 'pay/js/flot/jquery.flot.pie.min.js' %}"></script>
		<script src="{% static 'pay/js/flot/jquery.flot.resize.min.js' %}"></script>

		<!-- ace scripts -->

		<script src="{% static 'pay/js/ace-elements.min.js' %}"></script>
		<script src="{% static 'pay/js/ace.min.js' %}"></script>
		<script type="text/javascript">
			function compute(carprice, product) {
				if (carprice < 70000 && product == 2) {
					return '1380';
				} 
				else if (carprice < 70000 && product == 3) {
					return '1680';
				}
				else if (100000 > carprice && carprice >= 70000 && product == 2) {
					return '1580';
				}
				else if (100000 > carprice && carprice >= 70000 && product == 3 ) {
					return '1880';
				}
				else if (carprice >= 100000 && carprice < 150000 && product == 2) {
					return '1980';
				}
				else if (carprice >= 100000 && carprice < 150000 && product == 3) {
					return '2380';
				}
				else if (carprice >= 150000 && carprice < 200000 && product == 2) {
					return '2280';
				}
				else if (carprice >= 150000 && carprice < 200000 && product == 3) {
					return '2680';
				}
				else if (carprice >= 200000 && carprice < 250000 && product == 2) {
					return '2580';
				}
				else if (carprice >= 200000 && carprice < 250000 && product == 3) {
					return '3280';
				}
				else if (carprice >= 250000 && carprice < 300000 && product == 2) {
					return '2880';
				}
				else if (carprice >= 250000 && carprice < 300000 && product == 3) {
					return '3680';
				}
				else if (carprice >= 300000 && carprice < 350000 && product == 2) {
					return '3280';
				}
				else if (carprice >= 300000 && carprice < 350000 && product == 3) {
					return '4280';
				}
				else if (carprice >= 350000 && carprice < 400000 && product == 2) {
					return '3580';
				}
				else if (carprice >= 350000 && carprice < 400000 && product == 3) {
					return '4880';
				}
				else if (carprice >= 400000 && carprice < 450000 && product == 2) {
					return '3880';
				}
				else if (carprice >= 400000 && carprice < 450000 && product == 3) {
					return '5580';
				}
				else if (carprice >= 450000 && carprice < 500000 && product == 2) {
					return '4280';
				}
				else if (carprice >= 450000 && carprice < 500000 && product == 3) {
					return '6280';
				}
				else if (carprice >= 500000 && carprice < 600000 && product == 2) {
					return '4680';
				}
				else if (carprice >= 500000 && carprice < 600000 && product == 3) {
					return '6880';
				}
				else if (carprice >= 600000 && carprice < 700000 && product == 2) {
					return '5280';
				}
				else if (carprice >= 600000 && carprice < 700000 && product == 3) {
					return '7680';
				}
				else if (carprice >= 700000 && carprice < 800000 && product == 2) {
					return '5880';
				}
				else if (carprice >= 700000 && carprice < 800000 && product == 3) {
					return '8680';
				}
				else if (carprice >= 800000 && carprice < 900000 && product == 2) {
					return '6580';
				}
				else if (carprice >= 800000 && carprice < 900000 && product == 3) {
					return '9680';
				}
				else if (carprice >= 900000 && carprice <= 1000000 && product == 2) {
					return '6880';
				}
				else if (carprice >= 900000 && carprice <= 1000000 && product == 3) {
					return '10800';
				}
			}

			$(document).ready(function() {
				$("#city").citySelect({  
    				url:"/static/pay/js/city.min.js",  
    				prov:"北京", //省份 
    				city:"东城区", //城市 
    				//dist:"岳麓区", //区县 
    				nodata:"none" //当子集无数据时，隐藏select 
				});  
				$('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
					$(this).prev().focus();
				});


				$('#id-input-file-1 , #id-input-file-2').ace_file_input({
					no_file:'No File ...',
					btn_choose:'Choose',
					btn_change:'Change',
					droppable:false,
					onchange:null,
					thumbnail:false //| true | large
					//whitelist:'gif|png|jpg|jpeg'
					//blacklist:'exe|php'
					//onchange:''
					//
				});

				$('#id-input-file-3').ace_file_input({
					style:'well',
					btn_choose:'拖拽所需文件到此',
					btn_change:null,
					no_icon:'icon-cloud-upload',
					droppable:true,
					thumbnail:'small'//large | fit
					//,icon_remove:null//set null, to hide remove/reset button
					/**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
					/**,before_remove : function() {
						return true;
					}*/
					,
					preview_error : function(filename, error_code) {
						//name of the file that failed
						//error_code values
						//1 = 'FILE_LOAD_FAILED',
						//2 = 'IMAGE_LOAD_FAILED',
						//3 = 'THUMBNAIL_FAILED'
						//alert(error_code);
					}
			
				}).on('change', function(){
					//console.log($(this).data('ace_input_files'));
					//console.log($(this).data('ace_input_method'));
				});
				/*
				$("#smtsale").click(function(e) {
					e.preventDefault();
					var file_input = $('input#id-input-file-3').data('ace_input_files');
					console.log(file_input);
				})
				*/

			});

			/*
			$(document).on('blur', '#carprice, #productname', function() {
				var carprice = parseInt($("#carprice").val());
				var product = parseInt($("#productname option:selected").val());
				var price = compute(carprice, product);
				$("#price").val(price);
				$("#price").html(price);
				$("#price").text(price);
			});
			
			$(document).on('blur', '#idnumber, #vin', function() {
				var idnumber = $('#idnumber').val();
				var vin = $("#vin").val();
				$.ajax({
					type: "POST",
					url: "/valid_client/",
					data: {
						idnumber: idnumber
					},
					dataType: "json",
					success: function(msg) {
						msg=msg.msg;
						if (msg=='ok'  && idnumber !== '' && vin !== '') {
							$("#smtsale").attr('disabled', false);
						} else if (msg=='failed') {
							alert("客户已经存在，请修改");
							return false;
						}
					}
				})
			});
			$(document).on('change', '#buytype', function() {
				var buytype = $("#buytype option:selected").val();
				if (buytype == 'fullpay') {
					$("input#fcompany").attr('disabled', true);
				} else if (buytype == 'billpay') {
					$("input#fcompany").attr('disabled', false);
				}
			});
			*/

		</script>

</html>

